*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #090f1e;
    color: #9fa1a7;
    font-family: "Lato", sans-serif;
    border: none;

}

a{
    text-decoration: none;
}

.heading{
    color: #ff8c00;
    font-weight: 900;

}

body{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

}
nav{
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav > ul{
list-style-type: none;
display: flex;
gap: 10px;

}

nav > ul > li{
    font-size: 1.2rem;
}

.logo{
    font-size: 1.5rem;
    font-weight:700;
}

.page-section{
    min-height: 80vh;
    font-size: 1.2rem;
}

.hero{
    
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.hero >div >h3{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.hero >div >p{
    font-size:1.2rem;
}

.hero >div >img{
    width: 90%;
}

.contact
{
display: flex;
flex-direction: column;
gap: 20px;
justify-content: center;
min-height: 80vh;


}
.button{
font-size: 1rem;
background: #ff8c00;
padding: 6px;
color: #fff;
border-radius: .6rem;

}

form>div{
    display: flex;
    flex-direction: column;
    gap: 2;
}

form>div> input{
    padding: 10px;
    margin-top: 5px;
    border-radius: 0.5rem;
    outline: none;
    border: #9fa1a7 1px solid;
}

footer{
    padding: 20px;
    text-align: center;
}

form{
    width: 50%;
}

